html {
    background-color:rgb(244, 244, 244);
    scroll-behavior: smooth;
}

body {
    margin:0;
}

.mainpage {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 50px;
}

@font-face {
    font-family: ConsoleFont;
    src: url(Inconsolata-SemiBold.ttf);
}

h1 {
    font-family: ConsoleFont;
    font-size: 6em;
}

.links {
    margin-top: 20px;
}

#bannerlink {
    font-family: ConsoleFont;
}

h2 {
    font-family: ConsoleFont;
    font-size: 30px;
}

h3 {
    font-family: ConsoleFont;
    font-size: 20px;
}

p {
    font-family: ConsoleFont;
    font-size: 1.5em;
}

a {
    color: brown;
}

.loader {
    position:relative;
    width:100%;
    height:5px;
    background:black;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}

.loader::before {
    content: '';
    position:absolute;
    inset:0;
    background:linear-gradient(90deg,#ec2599,#0a47d5,#ffae00,#ffff00,#ec2599,#0a47d5,#ffae00,#ffff00);
    animation: animate 20s linear infinite;
    background-size: 500%;

}

.loader::after {
    content: '';
    position:absolute;
    inset:0;
    background:linear-gradient(90deg,#ec2599,#0a47d5,#ffae00,#ffff00,#ec2599,#0a47d5,#ffae00,#ffff00,#ffae00,#0a47d5);
    animation: animate 20s linear infinite;
    background-size: 500%;
    filter:blur(20px);
}

@keyframes animate
{
    0%
    {
        background-position: 0 0;
    }
    0%
    {
        background-position: 500% 0;
    }
}

.article {
    text-align: justify;
}

#dependencies {
    color: #0a47d5;
}

#deplist {
    color:#0a47d5;
    font-family: ConsoleFont;
    font-size: 1.5em;
}

code {
    color:white;
    font-size: 1.5em;
    margin:20px;
    vertical-align: middle;
}

#code {
    width:100%;
    line-height:2em;
    background-color:rgb(40, 40, 40);
}

.info {
    position: relative;
    display: inline-block;
}

.infotext {
    visibility: hidden;
    width: 300px;
    background-color: rgb(23, 23, 23);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    font-size:17px;
    position: absolute;
    z-index: 1;
}

.info .infotext {
    top: -5px;
    left: 105%; 
}

.info:hover .infotext {
    opacity: 95%;
    visibility: visible;
}

#screenshot {
    width:100%;
}

.accordion {
    font-size:1.5em;
    font-family:ConsoleFont;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom:10px;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color:rgb(244, 244, 244);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    background: rgb(222, 222, 222);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    cursor:pointer;
    font-family: ConsoleFont;
    color: #444;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border:none;
    transition: 0.4s;
}

.btn:hover {
    background: #ccc;
    text-decoration: none;
}

@media only screen and (max-width: 1026px) {
    .mainpage {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 50px;
    }
}

.project {
    display: block;
    width:100%;
}